body {
  /* background-color: red; */
  /* margin: ; */
}

.container {
  border: "1px solid black";
}

.Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer button {
  border: none;
  background-color: white;
}
.footer button:nth-child(1) {
  color: red;
}
.footer button:nth-child(2) {
  color: orange;
}
.footer button:nth-child(3) {
  color: green;
}
